<section>
  <div class="div__page-1">
    <h1>page 1</h1>

    <app-entete></app-entete>

    <div class="secBody">
      <app-recherche></app-recherche>

      <div class="div_customizedToPage1">
        <div class="divCarousel">
          <app-carousel></app-carousel>
        </div>

        <div class="containerHero">
          <div class="divHero">
            <app-hero></app-hero>
          </div>

          <div class="divHero">
            <app-hero></app-hero>
          </div>
          <div class="divHero">
            <app-hero></app-hero>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
